<%- include('../partials/adminHeader.ejs')%>

    <!-- ============================================================== -->
    <!-- pageheader  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h3 class="mb-2">Admin Dashboard </h3>
                <p class="pageheader-text">Lorem ipsum dolor sit ametllam fermentum ipsum eu porta
                    consectetur adipiscing elit.Nullam vehicula nulla ut egestas rhoncus.</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Admin Dashboard
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- pageheader  -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- metric -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Customers</h5>
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1 text-primary">32,100 </h1>
                    </div>

                </div>
            </div>
        </div>
        <!-- /. metric -->
        <!-- metric -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Order</h5>
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1 text-primary">4,200 </h1>
                    </div>

                </div>
            </div>
        </div>
        <!-- /. metric -->
        <!-- metric -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Revenue</h5>
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1 text-primary">$5,656</h1>
                    </div>

                </div>

            </div>
        </div>
        <!-- /. metric -->
        <!-- metric -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Growth</h5>
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1 text-primary">+28.45% </h1>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- ============================================================== -->
        <!-- top selling products  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Top Rated Products</h5>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light">
                                <tr class="border-0">
                                    <th class="border-0">#</th>
                                    <th class="border-0">Image</th>
                                    <th class="border-0">Product Name</th>
                                    <th class="border-0">Price</th>
                                    <th class="border-0">Rating</th>
                                    <th class="border-0">Stock</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(product.length>0){%>
                                    <%for(let i=0;i<product.length;i++){ %>
                                        <tr>
                                            <td>
                                                <%=i+1%>
                                            </td>
                                            <td>
                                                <div class="m-r-10"><img src="/img/shop/<%=product[i].images[0]%>"
                                                        alt="<%=product[i].images[0]%>" class="rounded" width="45">
                                                </div>
                                            </td>
                                            <td>
                                                <%= product[i].name %>
                                            </td>
                                            <td>
                                                ₹ <%= product[i].price %>
                                            </td>
                                            <td>
                                                <%= product[i].rating %>
                                            </td>
                                            <td>
                                                <%= product[i].stock %>
                                            </td>
                                        </tr>

                                        <%}}%>
                                            <tr>
                                                <td colspan="8"><a href="#"
                                                        class="btn btn-outline-light float-right">View
                                                        Details</a></td>
                                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end top selling products  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Copyright © 2018 Concept. All rights reserved. Dashboard by <a
                            href="https://colorlib.com/wp/">Colorlib</a>.
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="javascript: void(0);">About</a>
                            <a href="javascript: void(0);">Support</a>
                            <a href="javascript: void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <%- include('../partials/adminPlugins.ejs')%>