<%- include('../partials/adminHeader.ejs') -%>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Edit Category Details</h5>
            <div class="card-body">
                <form action="/admin/editCategory" method="post">
                    <div class=" row">
                        <div class="col-lg-12">
                            <div class="form-group">

                                <label for="inputText3" class="col-form-label">Category
                                    Name</label>
                                <input id="inputText3" name="name" type="text" value="<%= category.name %>"
                                    class="form-control" required>
                                <label for="inputText3" class="col-form-label"><b>Toppings</b> </label>
                                <div class="row">
                                    <div class="col-lg-6">

                                        <%let k=0; for(var i=0;i<subcategory.length;i++){ %>
                                            <% for(var j=0;j<category.toppings.length;j++){k++;%>

                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" name="checkbox" class="custom-control-input"
                                                        value="<%= subcategory[i].sub_category %>" id="cat-<%=k%>"
                                                        <%if(subcategory[i].sub_category==category.toppings[j]){%>
                                                    checked
                                                    <%break;}%>

                                                        <%}%>>
                                                            <label class="custom-control-label" for="cat-<%=k%>">
                                                                <%= subcategory[i].sub_category %>
                                                            </label><br>
                                                </div>
                                                <%}%>

                                    </div>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="true" name="status"
                                        id="flexRadioDefault1" <%if(category.status==true) { %>checked <% } %>>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Available
                                        </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="false" name="status"
                                        id="flexRadioDefault2" <% if(category.status==false) { %>checked <% } %>
                                        >
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Not Available
                                        </label>

                                        <br><br>
                                        <input type="hidden" name="id" value="<%= category._id %>">
                                        <input type="submit" class="btn-dark" value="Update Category">

                                </div>
                            </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/adminPlugins.ejs')%>