<%- include('../partials/adminHeader.ejs') -%>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h2 class="card-header">Orders</h2>
                <br>
                <div class="card-body">
                    <% if (errorMessage.length> 0) { %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <%- errorMessage %>
                        </div>
                        <% } %>
                            <% if (successMessage.length> 0) { %>
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <%- successMessage %>
                                </div>
                                <% } %>
                                    <% if(order.length>0){ %>
                                        <table class="table table-striped" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Sl No</th>
                                                    <th>Customer Name</th>
                                                    <th>Order Date</th>
                                                    <th>Products Purchased</th>
                                                    <th>Quantity</th>
                                                    <th>Product status</th>
                                                    <th>Total Amount</th>
                                                    <th>Type of payment</th>
                                                    <th>Status</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(let i=0;i < order.length;i++){%>
                                                    <tr>
                                                        <td>
                                                            <%= i+1 %>
                                                        </td>
                                                        <td>
                                                            <%= order[i].user.firstName %>
                                                                <%= order[i].user.lastName %>
                                                        </td>
                                                        <td>
                                                            <div>
                                                                <%= (new
                                                                    Date(order[i].created_at)).toLocaleDateString('en-US')
                                                                    %>

                                                            </div>
                                                        </td>
                                                        <td>
                                                            <% for(const product of order[i].products){ %>

                                                                <%= product.product.name%>
                                                                    <br>
                                                                    <% } %>
                                                        </td>
                                                        <td>
                                                            <% for(const product of order[i].products){ %>

                                                                <%= product.quantity%>
                                                                    <br>
                                                                    <% } %>
                                                        </td>
                                                        <td>
                                                            <% for(const product of order[i].products){ %>
                                                                <% if(product.productStatus==true){%>
                                                                    Pending
                                                                    <% }else{%>
                                                                        Cancelled
                                                                        <% }%><br>

                                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <% if(order[i].totalPrice<=0){ %>
                                                                0
                                                            <% }else{ %>
                                                                ₹<%= order[i].totalPrice %>
                                                            <% } %>
                                                        </td>
                                                        <td>
                                                            <%= order[i].payment %>
                                                        </td>
                                                        <td>
                                                            <%= order[i].status %>
                                                        </td>
                                                        <td>
                                                            <% if(order[i].status=='Cancelled'
                                                                ||order[i].status=='Returned' ){ %>
                                                              
                                                                <%}else{%>
                                                                    <a
                                                                        href="/admin/updateStatus?id=<%= order[i]._id %>">
                                                                        <input type="button" class="btn btn-dark"
                                                                            value="Update"></a>
                                                                    <%}%>
                                                        </td>
                                                    </tr>
                                                    <% } %>

                                            </tbody>
                                        </table>
                                        <% }else{ %>
                                            <p>No Order Data</p>
                                            <% } %>

                                                <br><br>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/adminPlugins.ejs') -%>