<%- include('../partials/adminHeader.ejs') -%>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h2 class="card-header mr-2 ">Stocks</h2>

                <div class="row">
                    <div class=" col-xl-12 col-lg-12">
                        <% if (errorMessage.length> 0) { %>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <%- errorMessage %>
                            </div>
                            <% } %>
                                <% if (successMessage.length> 0) { %>
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <%- successMessage %>
                                    </div>
                                    <% } %>

                                        <div class="card-body">
                                            <div class="table-responsive">

                                                <% if(product.length> 0){%>
                                                    <table class="table table-striped" style="width: 100%">
                                                        <tr style="height: 55%;width: fit-content;">
                                                            <th class="border-0">Product Name</th>
                                                            <th class="border-0">Quantity</th>
                                                        </tr>


                                                        <%for(let i=0;i < product.length;i++){ %>
                                                            <tr>

                                                                <td>
                                                                    <%= product[i].name %>
                                                                </td>

                                                                <td>
                                                                    <%= product[i].stock %>
                                                                </td>

                                                            </tr>
                                                            <% } %>
                                                    </table><br><div class="d-flex justify-content-center">
                                                    <a href="/admin/addStock">
                                                        <button class="btn btn-dark" style="width:100%;"
                                                            type="button">Update</button>
                                                    </a></div>
                                                    <% } else { %>
                                                        <p>Stock not found!!</p>
                                                        <% } %>

                                            </div>
                                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <%- include('../partials/adminPlugins.ejs') -%>