<%- include('../partials/adminHeader.ejs')%>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12  align-items-center justify-content-center">
            <div class="card">
                <h5 class="card-header">Product details</h5>
                <div class="card-body">
                    <form action="/admin/editProduct" method="post" enctype="multipart/form-data">
                        <div class=" row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="inputText1" class="col-form-label">Product
                                        Name</label>
                                    <input id="inputText1" name="name" type="text" value="<%= Product.name %>"
                                        class="form-control" disabled required>
                                    <label for="inputText2" class="col-form-label">Price</label>
                                    <input id="inputText2" name="price" type="text" value="<%= Product.price %>"
                                        class="form-control" disabled required><br>
                                    <label for="inputText3"> Category</label>

                                    <input id="inputText3" name="category" type="text"
                                        value="<%= Product.category.name %>" class="form-control" disabled required><br>

                                </div>
                                <label for="">Images</label>
                                <br>
                                <img src="/img/shop/<%=Product.images[0]%>" alt="" style="width:100px;height:auto ">

                                <input style="display: none;" type="text" name="image1" id=""
                                    value="<%=Product.images[0]%>">

                                <img src="/img/shop/<%=Product.images[1]%>" alt="" style="width:100px;height:auto ">

                                <input style="display: none;" type="text" name="image2" id=""
                                    value="<%=Product.images[1]%>">

                                <img src="/img/shop/<%=Product.images[2]%>" alt="" style="width:100px;height:auto ">

                                <input style="display: none;" type="text" name="image3" id=""
                                    value="<%=Product.images[2]%>">

                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="inputShort">Short Description</label>
                                    <input id="inputShort" name="shortDesc" type="text"
                                        value="<%= Product.short_description %>" class="form-control" disabled>
                                    <br>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Detailed
                                            Description</label>

                                        <textarea class="form-control" name="detailDesc"
                                            id="exampleFormControlTextarea1" rows="7"
                                            disabled><%=Product.detail_description %></textarea><br>
                                    </div>
                                    <label for="inputSmall" class="col-form-label">Stock</label>
                                    <input id="inputSmall" type="text" name="stock" value="<%= Product.stock %>"
                                        class="form-control form-control-sm" disabled>
                                    <div class="form-check">
                                        <label for="radio1" class="col-form-label">Featured</label>
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="isFeatured" value="true" id="radio1"
                                                class="custom-control-input" <%if(Product.is_Featured==true) { %>checked
                                            <% } %>disabled
                                                ><span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="isFeatured" value="false" id="radio1"
                                                class="custom-control-input" <%if(Product.is_Featured==false) {
                                                %>checked
                                            <% } %>
                                                disabled ><span class="custom-control-label">No</span>
                                        </label><br>
                                    </div>
                                    <div class="form-check">
                                        <label for="radio2" class="col-form-label">Deleted</label>
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="isDeleted" value="true" id="radio2"
                                                class="custom-control-input" <%if(Product.is_Deleted==true) { %>checked
                                            <% } %>
                                                disabled ><span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="isDeleted" value="false" id="radio2"
                                                class="custom-control-input" <%if(Product.is_Deleted==false) {%>
                                            checked
                                            <% } %>
                                                disabled ><span class="custom-control-label">No
                                                </span>
                                        </label><br>
                                    </div>
                                    <input type="hidden" name="id" value="<%= Product._id %>">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/adminPlugins.ejs')%>