<%- include('../partials/head.ejs') %>
    <%- include('../partials/userHeader.ejs') %>
        <!-- Breadcrumb Begin -->
        <style>
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type="number"] {
                text-align: center;
                width: 50px;
            }

            .quantity {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .quantity button {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                cursor: pointer;
            }

            .quantity button.dec {
                border-radius: none;
            }

            .quantity button.inc {
                border-radius: none;
            }

            .quantity input {
                border: none;
                border-left: none;
                border-right: none;
            }

            .error {
                color: red;
                font-size: 14px;
            }

            .qty {
                font-size: 16px;
                width: 40px;
                cursor: pointer;
                font-weight: 500;
                border: none;
            }

            .cart-items.disabled {
                opacity: 0.5;
                pointer-events: none;
            }
        </style>
        <div class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="breadcrumb__text">
                            <h2>Shopping cart</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="breadcrumb__links">
                            <a href="/home">Home</a>
                            <span>Shopping cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Shopping Cart Section Begin -->
        <section class="shopping-cart spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <form id="updateCartForm" action="/cart" method="post">


                            <% if (message.length> 0) { %>
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <%- message %>
                                </div>
                                <% } %>

                                    <div class="shopping__cart__table">
                                        <% if(isEmpty){ %>
                                            <h3>Cart is Empty</h3>
                                            <% } else {%>

                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th>Quantity</th>
                                                            <th>Total</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="product">
                                                        <% cartItems.forEach((cartItem)=> { %>
                                                            <tr class="cart-items">

                                                                <td class="product__cart__item">
                                                                    <div class="product__cart__item__pic">

                                                                        <img src="img/shop/<%= cartItem.product.images[0] %>"
                                                                            style="height:80px" alt="">
                                                                    </div>

                                                                    <div class="product__cart__item__text">
                                                                        <h6>
                                                                            <%= cartItem.product.name %>
                                                                        </h6>

                                                                        <h5>
                                                                            <span class="price">
                                                                                ₹<%= cartItem.product.price.toFixed(2)
                                                                                    %>
                                                                            </span>
                                                                        </h5>

                                                                    </div>
                                                                    <% if (cartItem.product.stock<=0) { %>
                                                                        <span class="error">Out
                                                                            of
                                                                            stock!!</span>
                                                                        <% }else{ %>
                                                                            <% if (cartItem.product.stock < 6) { %>
                                                                                <span class="error">Only
                                                                                    <%=cartItem.product.stock%>
                                                                                        left!!
                                                                                </span>
                                                                                <% }} %>

                                                                </td>
                                                                <td class="quantity__item">
                                                                    <div class="quantity">
                                                                        <button type="button" class="btn dec"
                                                                            data-product-id="<%= cartItem.product._id %>">-</button>
                                                                        <input type="number" class="qty"
                                                                            value="<%= cartItem.quantity %>"
                                                                            name="quantity_<%= cartItem.product._id %>"
                                                                            id="<%= cartItem.product._id %>"
                                                                            data-product-id="<%= cartItem.product._id %>"
                                                                            min="1" max="20" readonly>
                                                                        <button type="button" class="btn inc"
                                                                            data-product-id="<%= cartItem.product._id %>">+</button>
                                                                    </div>
                                                                </td>

                                                                <td class=" cart__price"><span class="subtotal">
                                                                        ₹<%= (cartItem.product.price *
                                                                            cartItem.quantity).toFixed(2)%>
                                                                    </span></td>

                                                                <td class="cart__close"><a href="/cart"><button
                                                                            class="btn icon_close"
                                                                            onclick="deleteProduct('<%= cartItem.product._id %>')"
                                                                            type="button"></button></a>
                                                                </td>

                                                            </tr>
                                                            <% })} %>

                                                    </tbody>
                                                </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="continue__btn">
                                                <a href="/shop">Continue Shopping</a>
                                            </div>
                                        </div>
                                    </div>
                    </div>

                    <% if(!isEmpty){ %>

                        <div class="col-lg-4">

                            <div class="cart__total">
                                <h6>Cart total</h6>
                                <ul>

                                    <li>Subtotal <span class="total" id="sub">₹ <%= total.toFixed(2) %></span>
                                    </li>

                                    <li>Total <span id="total">₹ <%= finalTotal.toFixed(2) %>
                                        </span>
                                    </li>
                                </ul>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="continue__btn update__btn">
                                        <input type="hidden" name="total" id="hiddenTotal" value="<%=total %>">
                                        <button class=" btn primary-btn" type="submit"
                                            onclick="submitForm()">Proceed</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            </form>
                </div>
            </div>
        </section>
        <!-- Shopping Cart Section End -->
        <script>
            let total = 0;
            document.addEventListener('DOMContentLoaded', function () {
                // const offersData = document.getElementById('offersData');
                // const productOffer = parseFloat(offersData.getAttribute('data-product-offer')) || 0;
                // const categoryOffer = parseFloat(offersData.getAttribute('data-category-offer')) || 0;
                // console.log(productOffer)
                // console.log(categoryOffer)

                document.querySelectorAll('.dec').forEach(function (decreaseButton) {
                    decreaseButton.addEventListener('click', function (event) {
                        event.preventDefault();
                        const productId = this.dataset.productId;
                        const inputField = document.querySelector('.qty[data-product-id="' + productId + '"]');
                        let quantity = parseInt(inputField.value);
                        if (quantity > 1) {
                            quantity--;
                            inputField.value = quantity;
                            updateSubtotal(productId);
                        }
                    });
                });

                document.querySelectorAll('.inc').forEach(function (increaseButton) {
                    increaseButton.addEventListener('click', function (event) {
                        event.preventDefault();
                        const productId = this.dataset.productId;
                        const inputField = document.querySelector('.qty[data-product-id="' + productId + '"]');
                        let quantity = parseInt(inputField.value);
                        if (quantity < 20) {
                            quantity++;
                            inputField.value = quantity;
                            updateSubtotal(productId);
                        }
                    });
                });


                function updateSubtotal(productId) {
                    const inputField = document.querySelector('.qty[data-product-id="' + productId + '"]');
                    const quantity = parseInt(inputField.value);
                    const productRow = inputField.closest('.cart-items');
                    const price = parseFloat(productRow.querySelector('.price').textContent.replace('₹', ''));
                    console.log('price', price)
                    const subtotalElement = productRow.querySelector('.subtotal');
                    const subtotal = price * quantity;
                    console.log('subtotal', subtotal)

                    subtotalElement.textContent = '₹' + subtotal.toFixed(2);
                    updateTotal();
                }

                function updateTotal() {
                    let total = 0;

                    document.querySelectorAll('.cart-items').forEach(function (item) {
                        const quantity = parseInt(item.querySelector('.qty').value);
                        const price = parseFloat(item.querySelector('.price').textContent.replace('₹', ''));
                        console.log('unit price', price)
                        const subtotal = price * quantity;
                        total += subtotal;
                        console.log('total', total)

                    });

                    const finalTotal = total;
                    document.getElementById('total').textContent = '₹' + finalTotal.toFixed(2);
                    document.getElementById('sub').textContent = '₹' + total.toFixed(2);

                    // document.getElementById('productOffer').textContent = '- ₹' + productOffer.toFixed(2);

                    // document.getElementById('categoryOffer').textContent = '- ₹' + categoryOffer.toFixed(2);

                }
                updateTotal();
            });

            function submitForm() {
                var displayedTotal = document.getElementById("total").textContent;
                console.log(displayedTotal)
                var numericValue = displayedTotal.replace(/[^\d.]/g, '');
                document.getElementById("hiddenTotal").value = numericValue;
                document.getElementById("updateCartForm").submit();
            }

            // function updateTotal() {
            //     var total = 0;
            //     var totalProductOffer = 0;
            //     var totalCategoryOffer = 0;
            //     document.querySelectorAll('.cart-items').forEach(function (item) {
            //         const quantity = parseInt(item.querySelector('.qty').value);
            //         const price = parseFloat(item.querySelector('.price').textContent.replace('₹', ''));
            //         const subtotal = price * quantity;
            //         total += subtotal;
            //         console.log(total)

            //         if (item.classList.contains('product-offer-eligible')) {
            //             console.log(item.classList.contains('product-offer-eligible'));
            //             totalProductOffer += (productOffer * quantity);
            //             console.log(totalProductOffer)
            //             console.log(quantity)

            //         }
            //         console.log('totalprod:', totalProductOffer)
            //         // Check if the product is eligible for category offer
            //         if (item.classList.contains('category-offer-eligible')) {
            //             totalCategoryOffer += (categoryOffer * quantity);
            //         }
            //         console.log('total cat:', totalCategoryOffer)

            //     });

            //     const finalTotal = total - totalProductOffer - totalCategoryOffer;
            //     console.log('final:', finalTotal)

            //     document.getElementById('total').textContent = '₹' + finalTotal.toFixed(2);
            //     document.getElementById('sub').textContent = '₹' + total.toFixed(2);
            //     if (productOffer > 0) {
            //         document.getElementById('productOffer').textContent = '- ₹' + totalProductOffer.toFixed(2);
            //     }
            //     if (categoryOffer > 0) {
            //         document.getElementById('categoryOffer').textContent = '- ₹' + totalCategoryOffer.toFixed(2);
            //     }
            // }


            function deleteProduct(productId) {
                fetch(`/cart/${productId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to delete product');
                        }
                        location.reload();
                    })
                    .catch(error => {
                        console.error('Error deleting product:', error);
                    });
            }

            function isProductInStock() {
                const productElements = document.querySelectorAll(".cart-items");
                productElements.forEach(productElement => {
                    const stockElement = productElement.querySelector(".stock");
                    const stock = parseInt(stockElement.value);
                    console.log(stock)
                    if (stock == '0') {
                        productElement.classList.add('disabled');
                        const quantityInput = productElement.querySelector('.quantity__item input');
                        if (quantityInput) {
                            quantityInput.disabled = true;
                        }
                    }
                });
            }
            isProductInStock();
        </script>
        <%- include('../partials/footer.ejs') %>
            <%- include('../partials/plugins.ejs') %>