<%- include('../partials/head.ejs') %>
    <%- include('../partials/userHeader.ejs') %>
        <!-- Breadcrumb Begin -->
        <div class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="breadcrumb__text">
                            <h2>Product details</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="breadcrumb__links">
                            <a href="/home">Home</a>
                            <a href="/shop">Shop</a>
                            <span>

                                <%=product[0].name%>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Shop Details Section Begin -->
        <section class="product-details spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product__details__img">
                            <div class="product__details__big__img">
                                <img class="big_img" src="img/shop/<%= product[0].images[0] %>" alt="">
                            </div>
                            <div class="product__details__thumb">
                                <%for(let i=1;i< 3;i++){%>
                                    <div class="pt__item active">
                                        <img data-imgbigurl="img/shop/<%= product[0].images[i] %>"
                                            src="img/shop/<%= product[0].images[i] %>" alt="">
                                    </div>
                                    <%}%>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="product__details__text">
                            <h4>
                                <%=product[0].name%>

                            </h4>
                            <h5>
                                Price: ₹<%=product[0].price%>
                            </h5>
                            <p>
                                <%=product[0].short_description%>
                            </p>
                            <p class="justify-center">
                                <%=product[0].detail_description%>
                            </p>

                            <ul>
                                <li>Stock: <span>
                                        <%=product[0].stock%>
                                    </span></li>
                                <li>Category: <span>
                                        <%=product[0].category.name%>
                                    </span></li>
                            </ul>

                            <% if(product[0].stock==0) { %>
                                <p style="color: red;">Out of stock!!</p>

                                <% } %>
                                    <% if(product[0].stock <=5 && product[0].stock> 0) { %>
                                        <p style="color: red;">Only <%= product[0].stock %> items left!!</p>

                                        <% } %>
                                            <div class="product__details__option">
                                                <div class="row">
                                                    <!-- <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" name="quantity" id="quantity" value="2" min="1">
                                        </div>
                                    </div> -->
                                                    <input type="hidden" name="id" value="<%=product[0]._id%>">
                                                    <% if(product[0].stock==0) { %>
                                                        <a href="/cart/<%= product[0]._id %>"
                                                            class="btn primary-btn disabled">
                                                            Add to Cart
                                                        </a>

                                                        <% } else { %>
                                                            <a href="/cart/<%= product[0]._id %>"
                                                                class="btn primary-btn">
                                                                Add to Cart
                                                            </a>
                                                            <% } %>
                                                                </form>
                                                                <a href="/addToWishlist?id=<%= product[0]._id %>"
                                                                    class="heart__btn"><span
                                                                        class="icon_heart_alt"></span></a>
                                                </div>
                                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- Shop Details Section End -->

        <!-- Related Products Section Begin -->
        <section class="related-products spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <h2>Related Products</h2>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="related__products__slider owl-carousel">
                        <%for(let i=0;i<allProducts.length;i++){%>
                            <div class="col-lg-3">
                                <a href="/product?id=<%=allProducts[i]._id %>">

                                    <div class="product__item">
                                        <div class="product__item__pic set-bg"
                                            data-setbg="img/shop/<%=allProducts[i].images[0]%>">
                                            <div class="product__label">
                                            </div>
                                        </div>
                                        <div class="product__item__text">
                                            <h6>
                                                <%=allProducts[i].name%>
                                </a>
                                </h6>
                                <div class="product__item__price">
                                    ₹<%=allProducts[i].price%>
                                </div>
                                <div class="cart_add">
                                    <a href="#">Add to cart</a>
                                </div>
                            </div>

                    </div>


                </div>
                <%}%>
            </div>
        </section>
        <!-- Related Products Section End -->

        <%- include('../partials/footer.ejs') %>

            <%- include('../partials/plugins.ejs') %>