<%- include('../partials/head.ejs') %>
    <%- include('../partials/userHeader.ejs') %>
        <!-- Breadcrumb Begin -->
        <div class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="breadcrumb__text">
                            <h2>Shop</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="breadcrumb__links">
                            <a href="/home">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Shop Section Begin -->
        <section class="shop spad">
            <div class="container">
                <div class="shop__option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="shop__option__search">

                                <form action="">
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            <select class="form-control" name="category" id="input-select">
                                                <option>Categories</option>
                                                <% for( let i=0;i<category.length;i++) { %>
                                                    <option value='<%= category[i]._id%>'>
                                                        <%= category[i].name%>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <input type="text" placeholder="Search">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <div class="shop__option__right">
                                <select>
                                    <option value="">Sort</option>
                                    <option value="">A to Z</option>
                                    <option value="">1 - 8</option>
                                    <option value="">Name</option>
                                </select>
                                <a href="#"><i class="fa fa-list"></i></a>
                                <a href="#"><i class="fa fa-reorder"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <% if(product.length>0){%>
                        <%for(let i=0;i<product.length;i++){ %>
                            <div class="col-lg-3 col-md-6 col-sm-6">

                                <div class="product__item">
                                    <div class="product__item__pic set-bg">
                                        <img src="/img/shop/<%=product[i].images[0]%>" alt="<%=product[i].name%>"
                                            style=" height: 100%;width: 100%;">
                                    </div>

                                    <div class="product__item__text">
                                        <h6><a href="/product?id=<%=product[i]._id %>">
                                                <%=product[i].name%>
                                            </a>
                                        </h6>
                                        <div class="product__item__price">
                                            ₹<%=product[i].price%>/piece
                                        </div>
                                        <div class="cart_add">
                                            <a href="/addToCart">Add to cart</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <%} } else {%>
                                Products Not Found

                                <% } %>


                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="img/shop/product-9.jpg">
                                                <div class="product__label">
                                                    <span>Cupcake</span>
                                                </div>
                                            </div>
                                            <div class="product__item__text">
                                                <h6><a href="#">VEGAN/GLUTEN FREE</a></h6>
                                                <div class="product__item__price">$98.85</div>
                                                <div class="cart_add">
                                                    <a href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="img/shop/product-10.jpg">
                                                <div class="product__label">
                                                    <span>Cupcake</span>
                                                </div>
                                            </div>
                                            <div class="product__item__text">
                                                <h6><a href="#">SWEET CELTICS</a></h6>
                                                <div class="product__item__price">$5.77</div>
                                                <div class="cart_add">
                                                    <a href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="img/shop/product-11.jpg">
                                                <div class="product__label">
                                                    <span>Cupcake</span>
                                                </div>
                                            </div>
                                            <div class="product__item__text">
                                                <h6><a href="#">SWEET AUTUMN LEAVES</a></h6>
                                                <div class="product__item__price">$26.41</div>
                                                <div class="cart_add">
                                                    <a href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="img/shop/product-12.jpg">
                                                <div class="product__label">
                                                    <span>Cupcake</span>
                                                </div>
                                            </div>
                                            <div class="product__item__text">
                                                <h6><a href="#">PALE YELLOW SWEET</a></h6>
                                                <div class="product__item__price">$22.47</div>
                                                <div class="cart_add">
                                                    <a href="#">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                </div>
            </div>
            <div class="shop__last__option">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="shop__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><span class="arrow_carrot-right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="shop__last__text">
                            <p>Showing 1-9 of 10 results</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- Shop Section End -->
        <%- include('../partials/footer.ejs') %>

            <%- include('../partials/plugins.ejs') %>