<%- include('../partials/head.ejs') %>
    <%- include('../partials/userHeader.ejs') %>
        <style>
            h1 {
                text-align: center;
                margin-bottom: 20px;
            }

            .pending {
                color: red;
            }

            .delivered {
                color: green;
            }

            .order-details {
                margin-bottom: 20px;
            }

            .order-details h2 {
                margin-bottom: 10px;
            }

            .order-details table {
                width: 100%;
                border-collapse: collapse;
            }

            .order-details th,
            .order-details td {
                padding: 10px;
                border-bottom: 1px solid #ddd;
                text-align: left;
            }

            .order-details th {
                background-color: #f2f2f2;
            }

            .order-details tr:hover {
                background-color: #f9f9f9;
            }
        </style>
        <div class="container">
            <br><br>
            <h1>Order Details</h1>
            <!-- Order ID and Shipping Address -->
            <% if (errorMessage.length> 0) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%- errorMessage %>
                </div>
                <% } %>
                    <% if (successMessage.length> 0) { %>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <%- successMessage %>

                        </div>
                        <% } %>
                            <% if(order){ %>  <% let sum=0;var flag=0; %>
                                <div class="order-details">
                                    <h2>Order Information</h2><br>
                                    <p><strong>Order ID:</strong> ID#<%=order._id%>
                                    </p>
                                    <p><strong>Shipping Address:</strong>
                                        <%=order.user.firstName%>
                                            <%=order.user.lastName%><br>
                                                <%=order.address.address%><br>
                                                    <%=order.address.city%>, <%=order.address.state%>, Pin:
                                                            <%=order.address.zip%>
                                    </p>
                                    <p><strong>Order Status: </strong>
                                        <%if (order.status=='pending' ){ %>
                                            <div class="pending">
                                                <%=order.status%>
                                            </div>
                                            <% }else{ %>
                                                <%if (order.status=='delivered' ){ %>
                                                    <div class="delivered">
                                                        <%=order.status%>
                                                    </div>
                                                    <% }else{ %>
                                                        <%= order.status %>
                                                            <% }} %>
                                    </p>
                                    <p><strong>Type of payment:</strong>
                                        <%= order.payment %>
                                    </p>
                                    <p><strong>Order Date & Time: </strong>
                                    <div>
                                        <%= (new Date(order.created_at)).toLocaleDateString('en-US') %>
                                    </div>
                                </div>
                                <div class="order-details">
                                    <h2>Order Items</h2>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Unit Price</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <%if(order.status!="Delivered"){%>
                                                <th>Action</th>
                                                <%}%>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(let i=0; i < order.products.length; i++){ %>
                                                <tr>
                                                    <td>
                                                        <%= order.products[i].product.name %>
                                                    </td>
                                                    <td>
                                                        <%= order.products[i].product.price %>
                                                    </td>
                                                    <td>
                                                        <%= order.products[i].quantity %>
                                                    </td>
                                                    <td>
                                                        ₹<%= order.products[i].product.price *
                                                            order.products[i].quantity %>
                                                    </td>
                                                    <%if(order.products[i].productStatus==false
                                                        ||order.status=='Cancelled' ){%>
                                                        <td>
                                                            <form action="/cancelProduct" method="post">
                                                                <input type="hidden" name="productId"
                                                                    value="<%= order.products[i].product._id %>">
                                                                <input type="hidden" name="orderId"
                                                                    value="<%=order._id%>">
                                                                <input type="submit" class="btn btn-dark"
                                                                    name="cancelBtn" value="Cancel" disabled>
                                                            </form>
                                                            <p class="pending"> Order Cancelled!
                                                            </p>
                                                        </td>
                                                        <%}else{%>
                                                            <%if(order.status!="Delivered"){%>
                                                            <td>
                                                                <form action="/cancelProduct" method="post">
                                                                    <input type="hidden" name="productId"
                                                                        value="<%= order.products[i].product._id %>">
                                                                    <input type="hidden" name="orderId"
                                                                        value="<%=order._id%>">
                                                                    <input type="submit" class="btn btn-dark"
                                                                        name="cancelBtn" value="Cancel">
                                                                </form>

                                                            </td>
                                                            <%}}%>
                                                                <br>
                                                </tr>
                                                <% } %>
                                                <% if (order.status!="Cancelled"){ %>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td><strong>
                                                                Grand Total</strong>
                                                        </td>
                                                        <td>
                                                            <strong>
                                                              
                                                                    <% let orders=order.products%>
                                                                        <% for(let i=0; i < orders.length; i++){ %>
                                                                            <% if(orders[i].productStatus==true){%>
                                                                                <% sum+=orders[i].product.price *
                                                                                    order.products[i].quantity %>
                                                                                 
                                                                                        <%}%>
                                                                                        <%}%>
                                                                                          ₹<%= sum %>
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td><strong>
                                                                Discount</strong>
                                                        </td>
                                                        <td>
                                                            <strong>
                                                               <% if(sum<=0){ %>
                                                                0
                                                               <% }else{ %> 
                                                               <% sum-=order.totalPrice %>
                                                                    ₹<%= sum.toFixed(2) %>
                                                               <% } %> 
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td><strong>
                                                                Total</strong>
                                                        </td>
                                                        <td>
                                                            <strong>
                                                                <%if(order.totalPrice<=0){%>
                                                                    0
                                                                <%}else{%>
                                                                ₹<%= (order.totalPrice).toFixed(2) %>  
                                                                <%}%>                                                            </strong>
                                                        </td>
                                                    </tr> 
                                                     <%}%>
                                        </tbody>
                                    </table>

                                </div> <%if(order.status=="Delivered"){%><div class="d-flex justify-content-center">
                                    <a href="/generate-invoice?order=<%=order._id%>" type="button" class="btn btn-dark"
                                      >Download invoice(PDF)</a
                                    >
                                  </div><br><%}%>
                                <div class="row d-flex justify-content-center">
                                    <%if(order.payment==undefined||order.payment==''){%>
                                        <div class="pl-2">
                                            <form action="/cashOnDelivery" method="post">
                                                <input type="hidden" name="orderId" value="<%= order._id %>">
                                                <input type="submit" class="btn btn-dark" name="cashOnDelivery"
                                                    value="Cash on delivery">
                                            </form>
                                        </div>
                                        <div class="pl-2">
                                            <form action="/onlinePayment" method="post" id="payment-form">
                                                <input type="hidden" name="orderId" value="<%= order._id %>">
                                                <input type="hidden" name="amount" value="<%= order.totalPrice %>">
                                                <input type="hidden" name="discount" value="<%= sum %>">
                                                <button class="btn-dark btn submit-button">Pay Online
                                                </button>
                                            </form>
                                            
                                        </div><br> <div class="pl-2">
                                            <form action="/walletPayment" method="post" id="payment-form">
                                                <input type="hidden" name="orderId" value="<%= order._id %>">
                                                <button class="btn-dark btn submit-button">Wallet
                                                </button>
                                            </form>
                                            
                                        </div>
                                        <%}%>
                                </div><br>
                                <% } else{ %>
                                    <div>
                                        <h3>No Orders</h3>
                                        <% } %>
                                    </div>
        </div>
        <%- include('../partials/footer.ejs') %>

            <%- include('../partials/plugins.ejs') %>